<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nikolay Shapoval Test task (full stack)</title>

    <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet">
</head>
<body id="page-top">

<header></header>
<section id="main-region"></section>
<footer>developed by Nikolay Shapoval</footer>

{% block javascripts %}
    <script data-main="{{ asset('bundles/app/js/main.js') }}" src="{{ asset('bundles/app/js/vendor/require.js') }}"></script>
    <script>
        define('config', function () {
            return {
                baseUrl: '{{ app.request.getBaseURL() }}'
            }
        });
    </script>
{% endblock %}

</body>
</html>
